
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;500&family=Oswald:wght@400;500&family=Smooch&display=swap');/* font-family: 'Smooch', cursive; */
/*
Fonts disponíveis:
font-family: 'Dancing Script', cursive; 400
font-family: 'Montserrat', sans-serif; 400 e 500
font-family: 'Oswald', sans-serif; 400 e 500
font-family: 'Smooch', cursive; 400
*/

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

#container{
    width: 75%;
    margin: auto;
    padding: 40px;
    color: #6b4c07;
    border:  10px double #541207;
    padding: 15px;
}

h1,h2,h3,h4{
    font-family: Dancing Script;
    color: #541207;
    margin: 20px 0px 20px 0px;
}

section{
    margin-bottom: 20px;
}

p{
    text-align: justify;
}

nav{
    position: sticky;
    right: 0;
    margin-bottom: 20px;
}

nav li{
    display: inline;
    
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: #541207;
}

nav a :hover{
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

#mensagem-inicial{
    display: flex;
    align-items: center;
}

#texto-mensagem-inicial{
    padding-right: 20px;
}

#img-perfil{
    width: 200px;
    border-radius: 50%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-quadrado, .card-losango{
    display: flex;
    width: 120px;
    height: 120px;
    background-color: #6b4c07;
    margin: 10px;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
}

.card img{
    width: 100px;
}

.card h3{
    margin: 0;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center;
}
.card-losango{
    transform: rotate(-45deg);
    margin: 30px;
    text-align: center;
}

.card-losango .texto-interno-card{
    transform: rotate(+45deg);
}

.img-curso-container{
    display: flex;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.logo-curso{
    width: 100px;
}

.img-projeto-container{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}
.img-projeto{
    width: 600px;
}

